/* hlavička Ketomix */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #434343;
    max-width: 89.563em; /* 1433/16*/
    font-size: 100%; /* 16px */
    letter-spacing: -0.022em; /* 0,36/16 */
    line-height: 1.188em; /* 19/16 */
    box-sizing: border-box;
}
header {
    height: 16.438em; /* 263/16 */
}
main {
    height: 98.750em; /* 1580/16 */
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
.top-navigation-bar {
    border-bottom: #e0e0e0 solid 1px;
    padding: 0.375em 0 0.438em 0;
    height: 2.500em; /* 40/16 */
}
.telefon-top {
    padding-top: 0.625em; /* 10/16 */
    width: 23.125em; /* 370/16 */
    height: 4.375em; /* 70/16 */
    font-size: 1em;
    margin-left: 35%;
    z-index: 1;
    background: #fff;
    float: left;
}
.p-right {
    margin-left: 1.875em;
    height: 3.750em; /* 60 */
    width: 19.188em; /* 307 */
    font-size: 0.875em; /* 14 */
} 
.p-right img {
    height: 1em;
    width: 1em;
    margin-top: 0.188em;
}
.p-right p {
    margin-bottom: 0;
    margin-top: 0.875em; /* 14 */
}

.telefon-top a {
    text-decoration: none;
    color: #7C7D7C;
    font-size: 1em; 
}
.project-phone::after {
    content: "";
    display: inline-block;
    color: rgb(67, 67, 67);
    margin-left: 0.188em;
    font-size: 1em; 
}
.prihlaseni {
    float: right;
    width: 16.250em; /* 260/16 */
    padding-top: 0.625em; /* 10/16 */
}
.prihlaseni img {
    height: 1em;
    width: 1em;
}
.prihlaseni a {
    color: rgb(37, 37, 37);
    font-size: 1em;
    margin: 0 0.625em 0 0.313em; /* 10/16 5/16 */
}
.prihlaseni a:hover {
    color: #AD162A;
    text-decoration: underline;
}

/* sekce logo */
.header-top {
    clear: both;
    height: 6.875em; /* 110/16 */
    width: auto;
}
.logo {
   float: left;
   width: 11.875em; /* 190 */
   height: 6.875em; /* 110 */
}
.logo img {
    width: 11.250em; /* 180 */
    height: 5.625em; /* 90 */
    padding: 0.625em; /* 10 */
    margin: 0;
}
/* vyhledávání */
.search {
    margin: 2.188em 0 2.188em 15.938em; /* 35 0 35 255 */
    padding: 0;
    width: 25.000em; /* 400 */
    float: left;

}
.search p {
    padding: 0.625em 5.938em 0.625em 1.875em; /* 10 95 10 30 */
    color: #bdbdbd;
    border: 1px solid #dadada;
    border-radius: 0.250em;
    /*display: block;*/
    width: 23.438em; /* 375 */
    margin: 0;
}
.default-button {
    margin-top: 2.188em; /* 35 */
    padding: 0.625em 1.875em; /* 10 30 */
    border: 1px solid #686968;
    background-color: #fff;
    border-radius: 0.250em;
    color: #686968;
    font-size: 1em;
    float: left;
}
.kosik {
    display: inline;
}
.icon {
    background: url(../img/moje-img/coffee-solid.svg) no-repeat;
    width: 3.000em; /* 48 */
    height: 3.000em;
    margin: 2.000em auto auto 13.125em; /* 32 210 */
    float: left;
   
}
.kosik p {
    margin: 2.188em auto auto -1.063em; /* 35 17*/
    float: left;
    color: #7C7D7C;
    border: 1px solid #dadada;
    border-left: #271a05;
    border-radius: 0.250em; 
    padding: 0.625em 2.500em; /* 10 40 */
}

/* menu */
.horni-menu {
    margin-top: 1.250em; /* 20 */
    font-size: 1.063em; /* 17 */
    line-height: 100%;
    margin-right: 0;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;  
}
.horni-menu ul:first-child {
    margin-left: 0;
    padding-left: 0;
}

.horni menu ul {
    margin: 0;
    padding: 10px 0;
    
}

.horni-menu li {
    display: inline;
    list-style: none;
    margin-right: 0;
    
}
.green-link {
    font-weight: bold;
    padding: 14px 31px;
    background:#7C7D7C;
    margin: 0 0;
    border: none;  
}
.green-link a {
    text-decoration: none; 
    color: #fff;
    
}
.nav-link a {
    color: #686968;
    background-color: transparent;
    text-decoration: none;
    padding: 14px 31px;
}
.green-link a:hover {
    color: #fff;
    text-decoration: underline;
}
.nav-link a:hover {
    color: #686968;
    text-decoration: underline;
}
/* horni fotka */
.hero {
    height: 500px;
    max-width: 1423px;
    background-image: url("../img/moje-img/paola-aguilar-0Y3hPEu0PzQ-unsplash.jpg");
    
}
.breadcrumb {
    height: 50px;
    padding-top: 102px;
}
.home {
    /*background: url(../img/moje-img/home-solid.svg) no-repeat;*/ 
    height: 20px;
    width: 20px;
    position: relative;
    top: 18px;
    left: 54%;
    padding-right: 15px;
}
.home::after {
    content: "/ O mně";
    display: inline-block;
    width: 100px;
    text-align: center;
    color: #777777;
}
.breadcrumb-text {
    height: 200px;
    margin-top: 47px;
}
.horni-cast {
        color: #41393E;
        font-size: 40px;
        font-weight: bold;
        letter-spacing: -0.89px;
        line-height: 40px;
        padding-left: 805px;
}
.text-foto {
    color: #434343;
    text-shadow: 1px 1px 2px #6d6d6d;
    font-size: 28px;
    font-style: italic;
    letter-spacing: -0.62px;
    line-height: 29.95px;
    padding-left: 753px;
    margin-bottom: 20px;
    
}

/* sekce fotky */
.foto-sekce {
    height: 800px;
    padding-top: 80px;
}
.container-text {
    width: 588px;
    height: 192px;
    padding: 38px 56px;
    background-color: #f6f6f6; 
    font-size: 14px;
}

.foto-sekce-nadpis {
    font-size: 23px;
    font-weight: bold;
}
.container-left {
    float: left;
    width: 702px;
}
.shaker {
    padding-top: 0;
}
.pancakes {
    padding-right: 20px;
    padding-top: 20px;
}
.cookies {
    
    float: right;
    padding-top: 20px;
}
.container-text {
    float: right;
}
.container-right {
    float: right;
    width: 698px;
}
.sweets {
    float: left;
    padding-top: 27px;
}
.detox {
    float: right;
    padding-top: 27px;
}
.pasta {
    margin-left: -215px;
    margin-top: -130px;
}
footer {
    margin: 0;
    color: #fff;
    background: #686968;
    text-align: center;
    height: 40px;
    padding-top: 15px;
    margin-top: 60px;
}
footer p {
   margin: 0;
}

@media (min-width: 1431px) {
    body {
        margin: 0 auto;
        max-width: 1920px;
    }
}